#embedMediaModal {
  position: absolute;
  top: 55px;
  right: 20px;
  background-color:#fff;
  margin:20px;
  padding:20px;
}

.embedMediaButton {
  padding:10px;
}

#cancelEmbedMedia{
  color:red;
} 

#insertEmbedMedia {
  font-family:font-awesome;
}

.buttonicon-embed-media:before{
  content:"\e80b";
  top: 2px !important;
}
