<li id="insertEmbedMedia" data-l10n-id="ep_embedmedia.embed">
  <a title="Embed Media" data-l10n-id="ep_embedmedia.embed">
        <button class="buttonicon buttonicon-align-left buttonicon-embed-media" data-align="0" aria-label="Embed Media"></button>
  </a>
</li>
